<!DOCTYPE html>
<html>
<head>
	<title>About Us - Financial Decoder</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<div class="header-top">
			<div class="logo">
				<img src="logo.png" alt="Financial Website Logo">
				<h1>Financial Decoder</h1>
			</div>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<section class="about-us">
			<h2>About Us</h2>
			<p>We are a team of dedicated developers trying to help our clients achieve their financial goals. We believe that everyone deserves access to high-quality financial advice and personalized investment strategies, regardless of their income level or net worth.</p>
			<div class="team-grid">
				<div class="team-member">
					<img src="team1.png" alt="Team Member 1">
					<h3>Aaroodh L</h3>
					<p>Founder & Developer</p>
					<p>Aaroodh has a great knowledge in the field of front-end development.</p>
				</div>
				<div class="team-member">
					<img src="team2.png" alt="Team Member 2">
					<h3>Abhay V R</h3>
					<p>Founder & Developerr</p>
					<p>Abhay V R has a great knowledge in the field of Machine Learning.</p>
				</div>
				<div class="team-member">
					<img src="team3.png" alt="Team Member 3">
					<h3>Abhishek Krishna TM</h3>
					<p>Founder & Developer</p>
					<p>Abhishek Krishna TM has a great knowledge in the field of Deep Learning.</p>
				</div>
                <div class="team-member">
					<img src="team4.png" alt="Team Member 4">
					<h3>Akshay V R</h3>
					<p>Founder & Developer</p>
					<p>Akshay V R has a great knowledge in the field of back-end development.</p>
				</div>
			</div>
			<div class="mission">
				<h3>Our Mission</h3>
				<p>Our mission is to provide our clients with the highest quality financial advice, while maintaining the highest standards of professionalism and integrity.</p>
			</div>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 Financial Decoder. All Rights Reserved.</p>
	</footer>
</body>
</html>
